{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{% static 'css/forget-password.css' %}">
</head>
<body>
  <div class="container">
    <h2>Forgot Password</h2>
         {% if messages %}
      {% for message in messages %} 
      <div class="error-message-container">
        <span class="error-message">{{message}}</span>
      </div>
      {% endfor %}
      {% endif %}
    <form method="POST">
      {% csrf_token %}

      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Enter your registered email:</label>
        <input type="email" name="email" id="email" required placeholder="you@example.com" value={{email}}>
      </div>

      <button type="submit" class="btn">Send OTP</button>
    </form>
      <!-- OTP Section: Only show if email is submitted -->
      {% if otp_sent %}
      <div class="form-group">
        <form method="post" action="{% url "verify-otp" %}">
          {% csrf_token %}
          <label for="otp">Enter OTP sent to your email:</label>
          <input type="text" name="otp" id="otp" maxlength="4" required >
          <button type="submit" class="btn">Verify OTP</button>
        </form>
      </div>


      {% endif %}


    <div class="footer">
      <a href="{% url 'login' %}">Back to Login</a>
    </div>
  </div>
</body>
</html>
